* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --bg-color: #fff;
  --text-color: #000;
  --big-text: 4rem;
  --medium-text: 2rem;
  --small-text: 1rem;
  --button-color: #3bcdfd;
  --button-color-hover: #fff;
}

html {
  min-width: 450px;
}

.header-section {
  height: 100vh;
  width: 100%;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    .header-image {
      background-color: #fff;
      border-radius: 10px;
      margin-left: 20px;
      order: 2;

      img {
        border-radius: 10px;
        animation: squiggle 5s infinite;
      }
    }

    .header-description {
      order: 1;

      span {
        font-size: var(--small-text);
      }

      p:first-of-type {
        font-size: var(--big-text);
      }

      p:last-of-type {
        font-size: var(--medium-text);
      }

      a {
        color: inherit;
      }

      .cv {
        margin-top: 20px;
        margin-bottom: 30px;

        svg {
          width: 10px;
          height: 20px;
        }

        .btn {
          border: 2px solid #fff;
          border-radius: 5px;
          text-decoration: none;
          padding: 10px;
          color: #fff;
          background-color: transparent;
        }

        .btn:nth-child(1) {
          margin-right: 10px;

        }

        .btn:hover {
          color: #000;
          background-color: var(--button-color-hover);
        }
      }
    }
  }
}

@keyframes squiggle {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px) rotate(-5deg);
  }

  50% {
    transform: translateX(-5px) rotate(5deg);
  }

  75% {
    transform: translateX(5px) rotate(-5deg);
  }

  100% {
    transform: translateX(0);
  }
}

.page-section {
  height: 100vh;
}

@media only screen and (max-width: 865px) {
  .header {
    flex-direction: column;

    .header-image {
      order: 1 !important;
    }
  }
}

@media only screen and (max-width: 864px) {
  .header-image {
    margin-bottom: 20px;

    img {
      width: 300px;
      height: 400px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .header-image {
    img {
      width: 250px;
      height: 350px;
    }
  }
}